@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1251px;
  width: 98%;
  margin: 0 auto;
}
/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*=================================
  Header styling starts here
=================================*/
header {
  position: relative;
  height: 620px;
  background: url("../images/slide01.jpg") no-repeat top center/cover;
  background-attachment: fixed;
  opacity: 0.99;
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(31, 27, 27);
  opacity: 0.5;
  z-index: -1;
}
.header-top {
  position: relative;
  height: 13vh;
}
header .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 a,
.menu a {
  font-size: 18px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.menu a {
  font-size: 14px;
}
.ham-content {
  display: flex;
  align-items: center;
}
.hamburger {
  width: 13px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 5px;
  cursor: pointer;
}
.line {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  border-radius: 20px;
}
.banner-content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.banner-para {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: #8ea6a7;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 25px;
}
.banner-para::after {
  content: "";
  width: 69%;
  height: 1.8px;
  background-color: #748d90;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.heading-two {
  font-size: 96px;
  font-weight: 300;
  color: #fff;
}
.banner ul {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.banner li {
  width: 12px;
  height: 13px;
  margin: 0 7px;
}
.banner a {
  text-indent: -999999px;
}
.banner .fa {
  float: right;
  text-indent: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 13px;
}
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/*=================================
  about styling starts here
=================================*/
.about {
  padding: 80px;
  padding-bottom: 90px;
  background-color: #f2f2f2;
}
.about-content {
  display: flex;
  justify-content: space-between;
}
.about-content li {
  width: 47.5%;
}
.content-box {
  text-align: center;
  padding: 40px;
  background-color: #ffffff;
}
.spaced-heading {
  position: relative;
  color: #cfcccc;
  font-size: 11px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 14px;
}
.spaced-heading::after {
  content: "";
  width: 50%;
  height: 1px;
  background-color: #cfcccc;
  position: absolute;
  left: 50%;
  bottom: -11px;
  transform: translateX(-50%);
}
.fourth-head {
  font-size: 24px;
  font-weight: 300;
  color: #020508;
}
.content-para {
  margin: 26px 0 19px;
  font-size: 14px;
  color: #a9b3c8;
  text-align: left;
  margin-bottom: 60px;
}
.learn-more {
  padding: 8px 17px;
  text-transform: uppercase;
  color: #89849e;
  font-size: 13px;
  border: 2px solid #d9d9d9;
}
/*=================================
  about styling ends here
=================================*/

/*=================================
  details styling starts here
=================================*/
.details {
  position: relative;
  text-align: center;
  background: url("../images/bg.jpg") no-repeat center/cover;
  background-attachment: fixed;
  padding: 80px 80px 70px;
  opacity: 0.99;
}
.details::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}
.details .spaced-heading {
  color: rgba(255, 255, 255, 0.363);
}
.details .spaced-heading::after {
  height: 1px;
  bottom: -13px;
  background-color: rgba(255, 255, 255, 0.315);
}
.details .fourth-head {
  margin-top: 25px;
  font-weight: 400;
  color: #fff;
}
/*=================================
  details styling ends here
=================================*/
/*=================================
  testimonial styling starts here
=================================*/
.testimonial {
  padding: 82px 77px 63px;
  background-color: #f2f2f2;
  text-align: center;
}
.testimonial .spaced-heading::after {
  bottom: -12px;
}
.testimonial .spaced-heading {
  margin-bottom: 20px;
}
.test-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.test-content li {
  position: relative;
  width: 47.5%;
  height: 275px;
  margin: 26px 0;
  background-color: #ffffff;
}
.test-content figure {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.test-content img {
  height: 100%;
}
/*=================================
  testimonial styling ends here
=================================*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
